* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header,
footer {
  height: 70px;
  padding: 8px 32px;
  background-color: lightgray;
}

/* Regole di stile della chat */

.chat-box {
  padding: 32px;
  height: calc(100dvh-140px);
  background-image: url("./img/background.jpg");
}
